* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(polkadot.png);

}

#front_background { 
    background-color: white;
    height: 600px;
    width: 700px;
    margin: 28px auto 0px auto; /* Top Right Bottom Left */
}