* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    font-size: 30px;
}

body {
    background-image: url("polkadot.png");
}

header {

}

header h1 {
    font-family: "Indie Flower", cursive;
    font-size: 45px;

}
#front_background { 
    background-color: white;
    height: 600px;
    width: 700px;
    margin: 28px auto 0px auto; /* Top Right Bottom Left */
}

nav {
    width: 200px;
    float: right;
    margin: 150px 7px 0px 0px;
    /* border: 1px solid pink; */
}

li {
    margin: 0px 0px 30px 20px;
    background-color: lightpink;
    border-radius: 20px;
    text-align: center;
    
}

a {
    color: black;
}

footer {
    text-align: center;
}

p {
    font-size: 20px;
}
